html,
body{ 
    background-color: rgb(38, 129, 247);
    font-family: 'IBM Plex Sans', sans-serif;
}
h1, h2 { 
    color: white; 

}
h3{
    font-weight: 900; 
    color: pink;
}
h4{
    font-weight: 900;
    color: #CCC;
}
h5{
    
}
