html,
body {
  background-color: #ffffff;
  font-family: "IBM Plex Sans", sans-serif;
}

h1,
h2 {
  color: #0087c7;
}
h3 {
  font-weight: 900;
  color: #0087c7;
}
h4 {
  font-weight: 900;
  color: #0087c7;
}

.home {
  text-align: center;
}

nav ul {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}
nav ul li {
  display: inline-block;
  margin: 8px;
}
nav ul li a,
nav ul li a:visited {
  background-color: #8016ac;
  display: inline-block;
  padding: 10px 22px;
  color: white;
  text-decoration: none;
}
nav ul li a:hover {
  background-color: lightcoral;
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.areas-of-expertise {
  text-align: center;
}
.row-of-pictures {
  display: flex;
}

.column-of-pictures {
  flex: 50%;
  padding: 5px;
}
